/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
/* COLORS */
html[data-theme="dark"]{
    --bg:rgb(42, 42, 42);
    --colorText: rgb(255, 255, 255);
    --bgHover: #00a2e7;
    --bgHoverText:rgb(216, 216, 216);
    --menutext:rgb(255, 255, 255);
    --activeText: #00a2e7;
}
/* SIZE */
:root{
--offcanvas-width: 200px;
--topNavHeight:0;
--topHeight:80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* NAVIGATION */
.navbar{
    padding: 0 2rem;
    background-color: black;
}
.navbar-nav img{
    width: 30px;
}
.dropdown-menu{
    background-color: var(--bg) !important;
}
.dropdown-menu .dropdown-item {
    color: var(--colorText) !important;
    cursor: pointer;
}
.dropdown-menu .dropdown-item span{
    cursor: pointer;
}
.dropdown-menu .dropdown-item i{
    margin: 12px;
}
.dropdown-menu .dropdown-item:hover{
    background-color: var(--bgHover);
    color: var(--menutext) !important;
}
/* END OF NAVIGATION */

/* OFFCANVAS */
.offcanvas {
    width: var(--offcanvas-width);
    background-color: var(--bg); 
    color: var(--colorText); 
}
@media (min-width:1000px) {
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    .offcanvas {
        transform: none;
        visibility: visible !important;
        top: var(--topNavHeight);
        height: calc(100% - var(--topNavHeight));
    }
    .main .container-fluid{
        padding-left: var(--offcanvas-width);
        padding-top: var(--topHeight);
    }
}
/* END OFFCANVAS */


/* SIDEBAR */
.sidebar-header{
    border-bottom: 1px solid white;
    padding: 1rem 0;
}
.userProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userProfile img{
    clip-path: circle();
    width: 80px;
    margin: 20px 0 10px 0;
}
.userProfile H4{
    font-size: 14px;
    margin: 5px 0;
}
.userProfile H5{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 2px 0;
    margin: 5px 0;
}
.sidebar-body ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar-body ul i {
    margin-right: 1.1rem;
}
.sidebar-body ul li a {
	display: block;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
.sidebar-body ul li a:hover {
	background: #f8f8f8;
	color: #515151;
}
.sidebar-body ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
}
.sidebar-body ul li ul li a {
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
.sidebar-body ul li ul li a:hover {
	background: #ebebeb;
	border-right: 4px solid #3498db;
}
.sidebar-footer{
    border-top: 1px solid white;
    padding: 1rem 0;
}
#dateDisplay{
    font-size: 15px;
}
#clockDisplay{
    font-size: 14px;
}
#theme{
    display: none;
}
/* SIDEBAR END */

/* MAIN CONTENT */
.main .container-fluid h3{
    padding: 0.2rem 1rem;
    font-weight: bold;
}
.main .table-responsive{
    justify-content: center;
}
.main .table-responsive th{
    letter-spacing: 1px;
}
.main .table-responsive thead, .main .table-responsive tbody {
    text-align: center;
    font-weight: 600;
}
.main .container .cols{
    padding-top: 0.4rem;
}
#pharmacyTable_filter > label , #doctorsTable_filter > label , #patientTable_filter > label{
    padding: 5px;
}
#pharmacyTable_filter, #doctorsTable_filter , #patientTable_filter{
    margin-bottom: 0.5rem;
}
#pharmacyTable_filter > label > input[type=search] , #doctorsTable_filter > label > input[type=search] , #patientTable_filter > label > input[type=search]{
    outline: none;
    box-shadow: 1px 2px 0px 0px rgb(42, 42, 42);
}
#pharmacyTable_previous , #pharmacyTable_next , #doctorsTable_previous , #doctorsTable_next , #patientTable_previous , #patientTable_next{
    padding: 5px ;
    font-size: 14px;
}
#pharmacyTable_paginate > span > a.paginate_button.current , #doctorsTable_paginate > span > a.paginate_button.current , #patientTable_paginate > span > a.paginate_button.current{
    padding: 5px 10px;
    font-size: 14px;
}
#pharmacyTable_info, #doctorsTable_info, #patientTable_info{
    font-size: 14px;
}
/* DataTable Settings */
th,td {
  white-space: nowrap;
  text-align: center;
}
tbody {
  cursor: pointer;
}
/* MAIN CONTENT END */

/* EYEBALL STYLE  */
#hideRegister, #hideRegister2, #hideDocPass, #hideLogin, #hideDoctor , #hideDoctor2{
    cursor: pointer;
}
#eyeRegister, #eyeRegister2,  #eyeDocPass, #eyeLogin , #eyeDoctor, #eyeDoctor2{
    cursor: pointer;
    display: none;
}
/* END OF EYEBALL STYLE */